{% extends 'base_CUSTOMER.html' %}

{% block sidebar %}
<div class="col">
    Общий баланс
</div>
<div class="col">
    Общие долги
</div>
<div class="col">
    Общие расходы
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table class="table table-sm table-hover">
        <tr>
            <th>№</th>
            <th>USD</th>
            <th>RUB</th>
            <th>UZS</th>
        </tr>
        <tr>
            <td>1</td>
            <td>{{ customeraccount.usd}}</td>
            <td>{{ customeraccount.rub }}</td>
            <td>{{ customeraccount.uzs }}</td>
        </tr>
    </table>

</div>
<div class="col">
    <table class="table table-sm table-hover">
        <tr>
            <th>№</th>
            <th>USD</th>
            <th>RUB</th>
            <th>UZS</th>
        </tr>
        <tr>
            <td>1</td>
            <td>{{ customerloan.usd}}</td>
            <td>{{ customerloan.rub }}</td>
            <td>{{ customerloan.uzs }}</td>
        </tr>
    </table>
</div>
<div class="col">
    <table class="table table-sm table-hover">
        <tr>
            <th>№</th>
            <th>USD</th>
            <th>RUB</th>
            <th>UZS</th>
        </tr>
        <tr>
            <td>1</td>
            <td>{{ customerexpenses.usd}}</td>
            <td>{{ customerexpenses.rub }}</td>
            <td>{{ customerexpenses.uzs }}</td>
        </tr>
    </table>
</div>

{% endblock %}



