{% extends 'base_CUSTOMER.html' %}

{% block sidebar %}
<div class="col">
            Редактировать долг
        </div>
{% endblock %}

{% block content %}
{% include 'inc/_js.html' %}

 <div class="col">
           <form method="POST">
    {% csrf_token %}
               <input type="hidden" value="{{currency.usd_rub}}" id="usd_rub" name="usd_rub">
        <input type="hidden" value="{{currency.usd_uzs}}" id="usd_uzs" name="usd_uzs">
    {{customerloanhistoryform.as_p}}
    <button type="submit">Сохранить</button>
</form>
        </div>
{% endblock %}
