{% extends 'base_CUSTOMER.html' %}

{% block sidebar %}
<div class="col">
    Мои расходы
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table class="table table-sm table-hover">
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>USD</th>
            <th>RUB</th>
            <th>UZS</th>
            <th>Тип валюты</th>
            <th>Тип сервиса</th>
            <th>Тарифный план</th>
                        <th>Дата</th>

        </tr>
        {% for customerexpenseshistory in customerexpenseshistorys %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ customerexpenseshistory.user.last_name}} {{ customerexpenseshistory.user.first_name}}</td>
            <td>{{ customerexpenseshistory.usd}}</td>
            <td>{{ customerexpenseshistory.rub }}</td>
            <td>{{ customerexpenseshistory.uzs }}</td>
                        <td>{{ customerexpenseshistory.currency_type }}</td>

            <td>{{ customerexpenseshistory.service_type }}</td>
            <td>{{ customerexpenseshistory.plan_type }}</td>
            <td>{{ customerexpenseshistory.date_created|date:"d.m.Y" }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

