{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
    Список долгов
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table class="table table-sm table-hover">
        <tr>
            <th>№</th>
            <th>USD</th>
            <th>RUB</th>
            <th>Дата</th>
            <th>Действие</th>
        </tr>
        {% for currencyhistory in currencyhistories %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ currencyhistory.usd_rub}}</td>
            <td>{{ currencyhistory.usd_uzs }}</td>
            <td>{{ currencyhistory.date_created|date:"d.m.Y" }}</td>
            <td>
                <a href="{% url 'staffdeletecurrency' id=currencyhistory.id %}">Удалить курс</a>
                <a href="{% url 'staffeditcurrency' id=currencyhistory.id %}">Редактировать курс</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
