<div class="modal fade" id="myEdit" role="dialog">
    <div class="modal-dialog">
        <form class="well contact-form" method="post" action="{% url 'up'}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Информация о платеже</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label>ФИО клиента: {{ customerLFName.last_name }} {{ customerLFName.first_name }}</label><br>
                    <label>Сумма платежа: {{ customeraccounthistoryview.usd }}</label><br>
                    <label>Статус платежа: {{ customeraccounthistoryview.general_status }}</label><br>
                    <label>Дата платежа: {{ customeraccounthistoryview.date_created }}</label><br>
                    <label>ФИО сотрудника: {{ staffLFName.last_name }} {{ staffLFName.first_name }}</label><br>
                    <label>ФИО курера: {{ courierLFName.last_name }} {{ courierLFName.first_name }}</label><br>
                    <label>Коментарии: {{ customeraccounthistoryview.description }}</label><br>
                </div>
                <div class="modal-footer">
                    <button value="" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </form>
    </div>
</div>