{% extends 'base_STAFF.html' %}
{% block sidebar %}
<div class="col">
    Добавить расход компании
</div>
{% endblock %}

{% block content %}


<div class="col">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{currency.usd_rub}}" id="usd_rub" name="usd_rub">
        <input type="hidden" value="{{currency.usd_uzs}}" id="usd_uzs" name="usd_uzs">
        {{ form.usd }}<br>
        {{ form.company_expenses_type}}<br>
        <br>
        <select name="user_id" id="standard1" style="width: 100%" required>
            <option value="" disabled="disabled" selected>Выберите сотрудника</option>
            {% for element in objectlist %}
            <option value={{ element.user.id }}>{{ element.user.userprofile.uniq_id }} {{ element.user.userprofile.phone_number}} {{ element.user.last_name }} {{element.user.first_name }}
            </option>
            {% endfor %}
        </select>
        <br><br>
           <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <textarea class="form-control" name="description" rows="3"
                              placeholder="Введите коментарии"></textarea>
                </div>
            </div>

        </div>
        <button type="submit">Сохранить</button>
    </form>
</div>

{% endblock %}



