{% extends 'base_STAFF.html' %}
{% block sidebar %}
<div class="col">
    Списать денег с клиента - {{pi.user.last_name}} {{pi.user.first_name}} ({{pi.usd}})
</div>
{% endblock %}

{% block content %}
<div class="col">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{currency.usd_rub}}" id="usd_rub" name="usd_rub">
        <input type="hidden" value="{{currency.usd_uzs}}" id="usd_uzs" name="usd_uzs">
        {{ form.usd }}<br>
        {{ form.service_type }}
        {{ form.plan_type }}
        <br><br>
           <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <textarea class="form-control" name="description" rows="3"
                              placeholder="Введите коментарии"></textarea>
                </div>
            </div>

        </div>
        <button type="submit">Сохранить</button>
    </form>
</div>

{% endblock %}



