{% extends 'base_STAFF.html' %}
{% block sidebar %}
<div class="col">
    Списать денег с клиента - {{pi.user.last_name}} {{pi.user.first_name}} ({{pi.usd}})
</div>
{% endblock %}

{% block content %}
{% include 'inc/_js.html' %}
<div class="col">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{currency.usd_rub}}" id="usd_rub" name="usd_rub">
        <input type="hidden" value="{{currency.usd_uzs}}" id="usd_uzs" name="usd_uzs">
        {{ form.usd }}<br>
        {{ form.rub }}<br>
        {{ form.uzs }}<br>
        {{ form.currency_type }}
        {{ form.service_type }}
        {{ form.plan_type }}
        <button type="submit">Сохранить</button>
    </form>
</div>

{% endblock %}



