{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
    Список приходов компании
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table id="example" class="display compact" style="width:100%">
        <thead>
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Uniq_id</th>
            <th>Сумма</th>
            <th>Тип сервиса</th>
            <th>Тарифный план</th>
            <th>Дата</th>
            <th>Действие</th>
        </thead>
<tbody>
        </tr>
        {% for companymoney in companymoneys %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ companymoney.user.last_name}} {{ companymoney.user.first_name}}</td>
            <td>{{ companymoney.uniq_id}}</td>
            <td>{{ companymoney.usd|stringformat:".2f"}}</td>
            <td>{{ companymoney.service_type }}</td>
            <td>{{ companymoney.plan_type }}</td>
            <td>{{ companymoney.date_created|date:"d.m.Y" }}</td>
            <td>
                <a data-toggle="tooltip" data-placement="top" title="Быстрый просмотр" class="open-modal" data-href="{% url 'companyaccounthistorysview' id=companymoney.id %}" ><i class="fa fa-eye"></i></a>
                <a data-toggle="tooltip" data-placement="top" title="Одобрить платеж" href="{% url 'deletemoneyfromcustomer' user_id=companymoney.user.id uniq_id=companymoney.uniq_id%}"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<div id="modal-div"></div>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script>
var modalDiv = $("#modal-div");
$(".open-modal").on("click", function() {
$.ajax({
url: $(this).attr("data-href"),
success: function(data) {
modalDiv.html(data);
$("#myEdit").modal();
    }
  });
});
</script>
{% endblock %}




