{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
    Общий баланс
</div>

{% endblock %}

{% block content %}
<div class="col">
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>№</th>
            <th>Общий баланс</th>
                        <th>Общий расход</th>
        </tr>
                </thead>
<tbody>
        <tr>
            <td>1</td>
            <td>{{ companyaccount.usd|stringformat:".2f"}}</td>
            <td>{{ companyexpenses.usd|stringformat:".2f"}}</td>
        </tr>
        </tbody>
    </table>

</div>


{% endblock %}



