{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
    Список расходов компании (на клиентов)
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table id="example" class="display compact" style="width:100%">
        <thead>
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>USD</th>
            <th>Тип сервиса</th>
            <th>Дата</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for companyexpenseshistory in companyexpenseshistorys %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ companyexpenseshistory.user.last_name}} {{ companyexpenseshistory.user.first_name}}</td>
            <td>{{ companyexpenseshistory.usd|stringformat:".2f"}}</td>
            <td>{{ companyexpenseshistory.company_expenses_type }}</td>
            <td>{{ companyexpenseshistory.date_created|date:"d.m.Y" }}</td>
            <td><a class="open-modal" data-href="{% url 'staffcustomerexpenseshistoryview' id=companyexpenseshistory.id %}" ><i class="fa fa-eye"></i></a></td>
        </tr>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<div id="modal-div"></div>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script>
var modalDiv = $("#modal-div");
$(".open-modal").on("click", function() {
$.ajax({
url: $(this).attr("data-href"),
success: function(data) {
modalDiv.html(data);
$("#myEdit").modal();
    }
  });
});
</script>
{% endblock %}



