{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
    Список расходов самой компании
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table id="example" class="display compact" style="width:100%">
        <thead>
        <tr>
            <th>№</th>
            <th>ФИО</th>
<!--            <th>Uniq_id</th>-->
            <th>USD</th>
            <th>RUB</th>
            <th>UZS</th>
            <th>Тип валюты</th>
            <th>Тип сервиса</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for companyownexpenseshistory in companyownexpenseshistorys %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ companyownexpenseshistory.user.last_name}} {{ companyownexpenseshistory.user.first_name}}</td>
<!--            <td>{{ companyexpenseshistory.uniq_id}}</td>-->
            <td>{{ companyownexpenseshistory.usd}}</td>
            <td>{{ companyownexpenseshistory.rub }}</td>
            <td>{{ companyownexpenseshistory.uzs }}</td>
            <td>{{ companyownexpenseshistory.currency_type }}</td>
            <td>{{ companyownexpenseshistory.company_expenses_type }}</td>
            <td>{{ companyownexpenseshistory.date_created|date:"d.m.Y" }}</td>
            <!--<td>{{ clistmoney.date_updated|date:"d.m.Y" }}</td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}




