{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
<!--    Главная страница-->
</div>
{% endblock %}

{% block content %}
<div class="col">
<!--    <a href="{% url 'companyreset' %}">Reset Database</a><br>-->
<!--    <a href="{% url 'companycreate' %}">Company Create</a><br>-->
<!--    <a href="{% url 'insertuser' %}">Insert Users</a><br>-->
<!--    <a href="{% url 'counting' %}">counting</a>-->
<!--    <a href="{% url 'userprofileadd' %}">userprofileadd</a>-->
<!--    <a href="{% url 'insertuserphone' %}">insertuserphone</a>-->

</div>
{% endblock %}