{% extends 'base_STAFF.html' %}
{% block sidebar %}
<div class="col">
    Редактировать расход компании
</div>
{% endblock %}

{% block content %}


<div class="col">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{currency.usd_rub}}" id="usd_rub" name="usd_rub">
        <input type="hidden" value="{{currency.usd_uzs}}" id="usd_uzs" name="usd_uzs">
        {{ money.usd }}<br>
        {{ money.company_expenses_type}}<br>
        <br>
        <select name="user_id" id="standard1" style="width: 100%" required>
            {% for customer in customerlist %}
            <option value={{ customer.user.id }}>{{ customer.user.userprofile.uniq_id }} {{ customer.user.userprofile.phone_number}} {{ customer.user.last_name }}
                {{customer.user.first_name }}
            </option>
            {% endfor %}
        </select>
        <br><br>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <textarea class="form-control" name="description" rows="3"
                              placeholder="Введите коментарии">{{description.description}}</textarea>
                </div>
            </div>

        </div>
        <button type="submit">Сохранить</button>
    </form>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$("#standard1").val('{{description.user_id}}').change();

</script>
{% endblock %}



