{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
    Список долгов
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table id="example" class="display compact" style="width:100%">
    <thead>
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>USD</th>
            <th>RUB</th>
            <th>UZS</th>
            <th>Тип валюты</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Состояние</th>
            <th>Действие</th>
        </tr>
    </thead>
        <tbody>
        {% for loan in loans %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ loan.user.last_name }} {{ loan.user.first_name }}</td>
            <td>{{ loan.usd}}</td>
            <td>{{ loan.rub }}</td>
            <td>{{ loan.uzs }}</td>
            <td>{{ loan.currency_type }}</td>
            <td>{{ loan.date_created|date:"d.m.Y" }}</td>
            <td>{{ loan.general_status }}</td>
            <td>{{ loan.loan_status }}</td>
            <td>
                {% if loan.general_status == 'В обработке' %}
                <a href="{% url 'staffdeleteloan' uniq_id=loan.uniq_id%}">Удалить долг</a>
                <a href="{% url 'staffeditloan' uniq_id=loan.uniq_id%}">Редактировать долг</a>
                <strike>Вернуть долг</strike>
                <a href="{% url 'elistloan' uniq_id=loan.uniq_id user_id=loan.user_id idd=loan.id%}">Одобрить долг</a>
                {% endif%}
                {% if loan.general_status == 'Одобрено' %}
                <strike>Удалить долг</strike>
                <strike>Редактировать долг</strike>
                {% if loan.loan_status == 'Взял' %}
                <a href="{% url 'opencloseloan' uniq_id=loan.uniq_id user_id=loan.user_id idd=loan.id %}">Вернул</a>
                {% endif%}
                {% if loan.loan_status == 'Вернул' %}
                <a href="{% url 'opencloseloan' uniq_id=loan.uniq_id user_id=loan.user_id idd=loan.id %}">Не вернул</a>
                {% endif%}
                <a href="{% url 'elistloan' uniq_id=loan.uniq_id user_id=loan.user_id idd=loan.id %}">Отменить долг</a>
                {% endif%}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
