{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
    Список долгов
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table id="example" class="display compact" style="width:100%">
    <thead>
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Сумма</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Состояние</th>
            <th>Действие</th>
        </tr>
    </thead>
        <tbody>
        {% for loan in loans %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ loan.user.last_name }} {{ loan.user.first_name }}</td>
            <td>{{ loan.usd|stringformat:".2f"}}</td>
            <td>{{ loan.date_created|date:"d.m.Y" }}</td>
            <td>{{ loan.general_status }}</td>
            <td>{{ loan.loan_status }}</td>
            <td>
                  <a data-toggle="tooltip" data-placement="top" title="Быстрый просмотр" class="open-modal" data-href="{% url 'staffcustomerloanhistoryview' id=loan.id %}" ><i class="fa fa-eye"></i></a>
                {% if loan.general_status == 'В обработке' %}

                <a data-toggle="tooltip" data-placement="top" title="Редактировать долг" href="{% url 'staffeditloan' uniq_id=loan.uniq_id%}">Редактировать долг</a>
                <a data-toggle="tooltip" data-placement="top" title="Одобрить долг" href="{% url 'elistloan' uniq_id=loan.uniq_id user_id=loan.user_id idd=loan.id%}">Одобрить долг</a>
                <a data-toggle="tooltip" data-placement="top" title="Удалить платеж" href="{% url 'staffdeleteloan' uniq_id=loan.uniq_id%}">Удалить долг</a>

                {% endif %}

                {% if loan.general_status == 'Одобрено' %}

                {% if loan.loan_status == 'Взял' %}
                <a data-toggle="tooltip" data-placement="top" title="Вернул" href="{% url 'opencloseloan' uniq_id=loan.uniq_id user_id=loan.user_id idd=loan.id %}">Вернул</a>
                {% endif%}

                {% if loan.loan_status == 'Вернул' %}
                <a data-toggle="tooltip" data-placement="top" title="Не вернул" href="{% url 'opencloseloan' uniq_id=loan.uniq_id user_id=loan.user_id idd=loan.id %}">Не вернул</a>
                {% endif%}

                <a data-toggle="tooltip" data-placement="top" title="Отменить долг" href="{% url 'elistloan' uniq_id=loan.uniq_id user_id=loan.user_id idd=loan.id %}">Отменить долг</a>
                {% endif%}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="modal-div"></div>
</div>
{% load static %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script src="{% static 'modalview.js' %}"> </script>
{% endblock %}
