{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
    Список клиентов
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table id="example" class="display compact" style="width:100%">
        <thead>
        <tr>
            <th>№</th>
            <th>Uniq ID</th>
            <th>Логин</th>
            <th>ФИО</th>
<!--            <th>email</th>-->
            <th>Телефон</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for listuser in listusers %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ listuser.userprofile.uniq_id }}</td>
            <td>{{ listuser.username }}</td>
            <td>{{ listuser.last_name }} {{ listuser.first_name }}</td>
<!--            <td>{{ user.email}}</td>-->
            <td>{{ listuser.userprofile.phone_number}}</td>
            <td>
                <a href="{% url 'staffdeleteuser' user_id=listuser.id %}">Удалить</a>
                <a href="{% url 'staffediteuser' user_id=listuser.id %}">Редактировать</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}




