{% extends 'base_STAFF.html' %}

{% block sidebar %}
<div class="col">
    Список счета клиентов
</div>
{% endblock %}

{% block content %}
<div class="col">
    <table id="example" class="display compact" style="width:100%">
              <thead>
        <tr>
            <th>№</th>
            <th>UNIQ_ID</th>
            <th>ФИО</th>
            <th>Сумма</th>
            <th>Действие</th>
        </tr>
        <thead>
     <tbody>
        {% for customercashsum in customercashsums %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ customercashsum.user.userprofile.uniq_id}}</td>
            <td>{{ customercashsum.user.last_name }} {{ customercashsum.user.first_name }}</td>
            <td>{{ customercashsum.usd|stringformat:".2f"}}</td>
            <td>
                <a   data-toggle="tooltip" data-placement="top" title="Списать денег" href="{% url 'getmoneyfromcustomer' user_id=customercashsum.id%}" ><i class="fa fa-money"></i></a>
            </td>
        </tr>
        {% endfor %}
         </tbody>
    </table>

</div>
{% endblock %}
