<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Списать денег от клиента - {{ customercashsum.user.last_name }} {{ customercashsum.user.first_name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form method="post">
          <div class="form-group">
            <label for="recipient-name1" class="col-form-label">Введите сумму списание:</label>
              <div class="row"><div class="col"><input type="text" class="form-control" id="recipient-name1"></div><div class="col"><input type="text" class="form-control" id="recipient-name2"></div><div class="col"><input type="text" class="form-control" id="recipient-name3"></div></div>


          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>