<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{user.userprofile.role|capfirst}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'customer' %}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Посылки
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Мои посылки</a>
                    <a class="dropdown-item" href="#">Добавить посылку</a>
                </div>
            </li>
                   <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Платежи
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'customeraddmoney' %}">Внести платеж</a>
                    <a class="dropdown-item" href="{% url 'customerlistmoney' %}">Мои платежи</a>
                </div>
            </li>
                     <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Долги
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'customeraddloan' %}">Запросить долг</a>
                    <a class="dropdown-item" href="{% url 'customerlistloan' %}">Мои долги</a>
                </div>
            </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Расходы
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'customerexpenses' %}">Мои расходы</a>
                </div>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Баланс
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'customerall' %}">Общий баланс</a>
                </div>
            </li>
        </ul>
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <a class="btn btn-outline-success my-2 mr-sm-2 my-sm-0 form-control"-->
<!--               href="{% url 'profile' user_id=user.id %}">USERID: {{user.id}} || {{user.username}} ||-->
<!--                {{user.userprofile.role}}</a>-->
<!--        </form>-->
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 mr-sm-2 my-sm-0 form-control"
               href="#">{{customeraccount.usd}} $ || {{customeraccount.rub}} &#8381; || {{customeraccount.uzs}} UZS </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 mr-sm-2 my-sm-0 form-control"
               href="{% url 'profile' user_id=user.id %}">Профиль</a>
            <a class="btn btn-outline-success my-2 mr-sm-2 my-sm-0" href="{% url 'logout' %}">Выход</a>
        </form>
    </div>
</nav>